#homepage {
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  /* min-height: 100vh; */
  margin-left: 0;
  margin-right: 0;
}

.top {
  justify-content: space-between;
}

.top_nav_left {
  padding: 1rem;
  display: flex;
  margin-left: 2%;
}

.top_nav_right {
  padding: 1rem;
  display: flex;
  margin-right: 2%;
  justify-content: flex-end;
}

#homepage h1 {
  color: white;
  text-align: center;
  margin-top: -1rem;
  animation: reveal 3s ease-in-out forwards 0.2s, glow 2.5s linear infinite 2s;
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 0.5rem #499bdf;
  }
}

.info_pads2 {
  display: none;
}

.square_pad {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 55%;
  margin-top: 10%;
  animation: zoom 3s ease-in-out infinite alternate;
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}

.square_pad_text {
  color: white;
  padding: 3rem;
}

.el_personal_info {
  width: 50%;
  text-align: center;
  margin-left: 5%;
  margin-top:5%;
}

.element {
  border-top-style: none;
}

/*
  About Me SECTION -------------------
*/
.about_me {
  display: flex;
}

.softwares {
  display: flex;
  padding: 2rem;
}

.software_list {
  width: 45%;
  margin-left: 5%;
}

.software_list p {
  text-align: left;
}

.software_pad {
  width: 40%;
  background-color: transparent;
  border: 2px solid #499bdf;
  margin-left: 30%;
  margin-top: -1.5%;
}

.software_pad h4 {
  margin-top: 2rem;
  text-align: center;
  color: #fff500;
}

.job_title i {
  color:white;
  /* width:10%; */
  padding-right: 5%;
}

.experience_pad2 {
  width: 30%;
  margin-left: 60%;
  margin-top: 5rem;
  border: 2px solid #fff500;
}

.experience_pad {
  width: 30%;
  margin-left: 10%;
  margin-top: -1.5rem;
  border: 2px solid #fff500;
}

.int_positions {
  display:flex;
  padding: 2rem;
}

.experience_pad h4,  .experience_pad2 h4{
  /* margin-top: 0; */
  margin-top: 2rem;
  text-align: center;
  color: #499bdf;
}

#about_me h2 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.8rem;
  text-align: right;
  margin-right: 18%;
}

.empty_h2 h2 {
  -webkit-text-stroke: 2px #499bdf;
  -webkit-text-fill-color: transparent;
}

.solid_h2 {
  margin-bottom: 12%;
  margin-top: -12rem;
}

/*
  About Me SECTION End -------------------
*/

/*
  Recent Works SECTION Start -------------------
*/
#recent_works h2 {
  margin: 5rem 0 0 0;
  font-size: 3.8rem;
  color: #499bdf;
}

.slideshow-container {
  width: 80%;
  /* border:solid red 1px; */
  background-color: black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 3.8rem 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  background-color: black;
  margin: 0;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*
  Recent Works SECTION End -------------------
*/

/*
  Project Analysis SECTION -------------------
*/
#project_analysis {
  background-color: #000000;
  margin: 5rem 0;
}

#project_analysis h2 {
  margin: 0;
  font-size: 3.8rem;
  color: #499bdf;
}

#project_analysis span {
  -webkit-text-stroke: 2px #499bdf;
  -webkit-text-fill-color: transparent;
}

.el_pj_img {
  transition: transform 0.3s;
}

.el_pj_img:hover {
  transform: scale(1.02);
}

.pj_analysis {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 3rem;
  justify-content: space-between;
}

.pj_analysis_p {
  width: 48%;
}
/*
  Project Analysis SECTION End-------------------
*/

@media only screen and (max-width: 1255px) {
  #about_me h2 {
    font-size: 3.5rem;
    margin-right: 15%;
  }

  #project_analysis h2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1080px) {
  .my_info {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 990px) {
  #about_me h2 {
    font-size: 3.3rem;
    margin-right: 10%;
  }

  #project_analysis h2 {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 935px) {
  .square_pad {
    width: 35%;
  }

  .my_info {
    display: none;
  }

  .my_info2 {
    display: contents;
  }

  .my_info_row1 > .contact_place {
    width: 50%;
  }

  .my_info_row2 > .contact_place {
    width: 50%;
  }

  .contact_place {
    justify-content: flex-start;
  }

  .my_info_row1 {
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 10%;
    margin-bottom: 1rem;
  }

  .my_info_row2 {
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 800px) {
  .square_pad_text {
    padding: 2rem;
  }

  .fa {
    font-size: 1.5rem !important;
  }

  .software_pad {
    width: 60%;
    background-color: transparent;
    border: 2px solid #499bdf;
    margin-left: 32%;
    /* margin-top: 10%; */
  }

  .experience_pad {
    width: 40%;
    margin-left: 8%;
    margin-top: -1.5rem;
    border: 2px solid #fff500;
  }

  .experience_pad2 {
    width: 40%;
    /* margin-left: 8%; */
    border: 2px solid #fff500;
  }

  #about_me h2 {
    font-size: 3rem;
    margin-right: 8%;
  }

  #project_analysis h2 {
    font-size: 3rem;
  }

  .pj_analysis {
    margin-top: 1.5rem;
  }

  .footer h1 {
    font-size: 1.5rem;
  }

  .contact_place h4 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 760px) {
  .top_nav_left {
    padding-left: 0;
  }

  .top_nav_right {
    padding-right: 0;
  }

  .software_pad {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -1.2%;
  }

  .experience_pad {
    width: 90%;
    margin-left: 5%;
    margin-top: -1.2rem;
  }

  .experience_pad2 {
    width: 90%;
    margin-left: 5%;
    /* margin-top: -1.2rem; */
  }

  .software_list {
    width: 95%;
  }

  #about_me h2 {
    font-size: 2.7rem;
    margin-right: 8%;
  }

  #project_analysis h2 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 660px) {
  .square_pad {
    width: 50%;
    margin-left: 25%;
  }

  .el_personal_info {
    width: 50%;
    text-align: center;
    margin-left: 20%;
  }

  #homepage h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .fa {
    font-size: 1.2rem !important;
  }

  .pj_analysis {
    flex-direction: column;
  }

  .pj_analysis_p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .pj_analysis_p p {
    margin-top: 0.8rem;
  }
}

@media only screen and (max-width: 540px) {
  .top_nav_left {
    padding-left: 1rem;
  }

  .top_nav_right {
    display: none;
  }

  .phone_menu {
    display: inline-block;
    cursor: pointer;
    margin-right: 3%;
    align-self: center;
    padding: 1rem;
  }

  .fa_icons {
    width: 60%;
    margin-left: 20%;
  }

  .contact_place img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 500px) {
  #about_me h2 {
    font-size: 2rem;
    margin-right: 8%;
  }

  #project_analysis h2 {
    font-size: 2rem;
  }

  .solid_h2 {
    margin-bottom: 4.5rem;
  }

  .my_info2 {
    display: none;
  }

  .my_info3 {
    display: contents;
  }

  .my_info3 > .contact_place {
    margin-left: 25%;
    width: 50%;
    margin-bottom: 0.5rem;
  }

  .contact_place h4 {
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 470px) {
  .info_pads {
    display: none;
  }

  .info_pads2 {
    display: contents;
  }

  .info_pads2 > .solid_h2 {
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 0;
  }

  .square_pad {
    width: 60%;
    margin-left: 20%;
  }

  #about_me h2 {
    font-size: 2rem;
    text-align: center;
    margin-right: 0;
  }

  .info_pads2 > .experience_pad {
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
  }

  .info_pads2 > .experience_pad2 {
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
  }

  .info_pads2 > .software_pad {
    margin-top: 1rem;
  }

  .softwares > .software_list {
    width: 90%;
    margin-left: 10%;
  }

  .int_positions > .software_list {
    width: 72%;
    margin-left: 14%;
  }
}

@media only screen and (max-width: 370px) {
  .square_pad {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 325px) {
  .square_pad {
    width: 70%;
    margin-left: 15%;
  }

  #homepage h1 {
    font-size: 1.8rem;
  }
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #001815; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 540px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
